{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {{ content.name }} {% endblock title %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}">

    <link rel="stylesheet" href="{% static 'advisory_services/css/style_base.css' %}">

</head>
<body>
    <section class="wrap-banner">
        <div class="container">
            <div class="fix-wrapper">
                <aside class="left-sidebar">
                    <div class="content-holder left">
                        <div class="header-holder">
                            {% block banner_header %}
                            {% endblock banner_header %}
                        </div>
                    </div>
                </aside>
                <div class="main-content">
                    <div class="content-holder right img-holder">
                        {% block banner %}
                            {% if is_mobile %}
                                <img src="{{ content.photo_mobile.url }}" alt="{{ content.name }}">
                            {% else %}
                                <img src="{{ content.photo_desktop.url }}" alt="{{ content.name }}">
                            {% endif %}
                        {% endblock banner %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="wrap-content {{ view_type }}">
        <div class="container">
            <div class="fix-wrapper">
                <aside class="left-sidebar">
                    <div class="content-holder left">
                        {% block content-navigation-list %}
                        {% endblock content-navigation-list %}
                    </div>
                </aside>
                <div class="main-content">
                    <div class="content-holder right">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if view_type == "department" %}
        <section class="wrap-content wrap-events">
            <div class="container">
                <div class="fix-wrapper">
                    <aside class="left-sidebar">
                        <div class="content-holder left">
                            {% block events-navigation-list %}
                            {% endblock events-navigation-list %}
                        </div>
                    </aside>
                    <div class="main-content">
                        <div class="content-holder right">
                            {% block events-content %}
                            {% endblock events-content %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

     <!--Scripts - start -->
    <script src="{% static 'advisory_services/js/vendors/jquery-3.5.1.min.js'%}"></script>
    <script src="{% static 'advisory_services/js/app.js' %}"></script>
    <!--Scripts - stop -->
</body>
</html>