{% extends './_base.html' %}
{% load static %}

{% block banner_header %}
    {% if view_type == "service" %}
        <div><a href="{% url 'advisory_services:department' content.department.pk content.department.slug %}">{{ content.department.name }}</a></div>
    {% else %}
        <h1>{{ content.name }}</h1>
    {% endif %}
{% endblock banner_header %}


{% block banner %}
    {% if is_mobile %}
        <img src="{{ content.photo_mobile.url }}" alt="{{ content.name }}">
    {% else %}
        <img src="{{ content.photo_desktop.url }}" alt="{{ content.name }}">
    {% endif %}
{% endblock banner %}

{% block navigation-list %}
    <ul class="navigation-list">
        {% for service in services_list %}
            <li class="{% if view_type == 'service' and content.pk == service.pk %} active {% endif %}">
                <a href="{% url 'advisory_services:service' service.department.slug service.pk service.slug %}">{{ service.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock navigation-list %}

{% block content %}
    {% if view_type == "service" %}
        <h1> {{ content.name }} </h1>
    {% endif %}

    <div>{{ content.content | safe | linebreaks }}</div>

    {% if view_type == "service" and content.tags.all %}
         <div class="tag-items">
            {% for tag in content.tags.all %}
                <span class="tag-item">
                    <strong>
                        {{ tag.name }}
                    </strong>
                </span>
            {% endfor %}
        </div>
    {% endif %}

    {% block team %}
        <ul class="navigation-list team-list">
            {% if team_members_list %}
                {% for team_member in team_members_list %}
                    <li>
                        <a href="">
                            {% if team_member.academic_title %}
                                {{ team_member.academic_title }}
                            {% endif %}

                            {{ team_member.name }} <br />
                            {{ team_member.title }}

                        </a>
                        {% if team_member.specializations.all %}
                            <div class="tag-items">
                                {% for specialization in team_member.specializations.all %}
                                    <span class="tag-item">
                                        <strong>
                                            {{ specialization.name }}
                                        </strong>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endblock team %}

{% endblock content %}
