{% extends './_base.html' %}
{% load static %}

{% block banner_header %}
    {% if view_type == "service" %}
        <div><a href="{% url 'advisory_services:department' content.department.pk content.department.slug %}">{{ content.department.name }}</a></div>
    {% else %}
        <h1>{{ content.name }}</h1>
    {% endif %}
{% endblock banner_header %}


{% block banner %}
    {% if is_mobile %}
        {% if content.photo_mobile %}
            <img src="{{ content.photo_mobile.url }}" alt="{{ content.name }}">
        {% endif %}
    {% else %}
        {% if content.photo_desktop %}
            <img src="{{ content.photo_desktop.url }}" alt="{{ content.name }}">
        {% endif %}
    {% endif %}
{% endblock banner %}

{% block content-navigation-list %}
    <ul class="navigation-list">
        {% for list_item in content_navigation_list %}
            <li class="{% if view_type == 'service' and content.pk == list_item.pk %} active {% endif %}">
                {% if view_type == 'event'  %}
                    <a href="{% url 'advisory_services:event' content.pk list_item.pk list_item.slug %}">{{ list_item.name }}</a>
                {% else %}
                    <a href="{% url 'advisory_services:service' list_item.department.slug list_item.pk list_item.slug %}">{{ list_item.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content-navigation-list %}

{% block content %}
    {% if view_type == "service" %}
        <h1> {{ content.name }} </h1>
    {% endif %}

    <div>{{ content.content | safe | linebreaks }}</div>

    {% if view_type == "service" and content.tags.all %}
         <div class="tag-items">
            {% for tag in content.tags.all %}
                <span class="tag-item">
                    <strong>
                        {{ tag.name }}
                    </strong>
                </span>
            {% endfor %}
        </div>
    {% endif %}

    {% block team %}
        <ul class="navigation-list team-list">
            {% if team_members_list %}
                {% for team_member in team_members_list %}
                    <li>
                        <a href="">
                            {% if team_member.academic_title %}
                                {{ team_member.academic_title }}
                            {% endif %}

                            {{ team_member.name }} <br />
                            {{ team_member.title }}

                        </a>
                        {% if team_member.specializations.all %}
                            <div class="tag-items">
                                {% for specialization in team_member.specializations.all %}
                                    <span class="tag-item">
                                        <strong>
                                            {{ specialization.name }}
                                        </strong>
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endblock team %}

{% endblock content %}

{% block events-navigation-list %}
    <ul class="navigation-list">
        {% if events_list %}
            {% for event in events_list %}
                <li>
                    <a href="{% url 'advisory_services:event' content.slug event.pk event.slug %}">{{ event.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock events-navigation-list %}

{% block events-content %}
    {% if events_list and events_list.0 %}
        <img src="{{ events_list.0.photo_desktop.url }}" alt="{{ events_list.0.title }}">
        <div>{{ events_list.0.title }} </div>
    {% endif %}
{% endblock events-content %}
