{% extends './_base.html' %}
{% load static %}
{% load i18n %}

{% block banner_header %}
   <h1>{{ content.name }}</h1>
{% endblock banner_header %}


{% block content-navigation-list %}
    {% if content_navigation_list and not is_mobile %}
        <div class="list-wrapper">
            <h2>{% translate 'Zakres usług' %}</h2>
            <ul class="navigation-list">
                {% for list_item in content_navigation_list %}
                    <li>
                        <a href="{% url 'advisory_services:service' content.pk content.slug list_item.pk list_item.slug %}">{{ list_item.name }}</a>
                    </li>
                {% endfor %}

                <li>
                    <a href="#" class="back-to">
                        {% translate 'Zefir' %}
                        <div class="arrow">
                            <span class="arrow-shaft"></span>
                            <span class="arrow-point"></span>
                        </div>

                    </a>
                </li>

            </ul>

        </div>
    {% endif %}
{% endblock content-navigation-list %}

{% block content %}

    <div>{{ content.content | safe | linebreaks }}</div>

    {% if content_navigation_list and is_mobile %}
        <div class="list-wrapper">
            <h2>{% translate 'Zakres usług' %}</h2>
            <ul class="navigation-list">
                {% for list_item in content_navigation_list %}
                    <li>
                        <a href="{% url 'advisory_services:service' content.pk content.slug list_item.pk list_item.slug %}">{{ list_item.name }}</a>
                    </li>
                {% endfor %}

                 <li>
                    <a href="#" class="back-to">
                        {% translate 'Zefir' %}
                        <div class="arrow">
                            <span class="arrow-shaft"></span>
                            <span class="arrow-point"></span>
                        </div>

                    </a>
                </li>
            </ul>
        </div>
    {% endif %}

    {% block team %}
        {% if team_members_list %}
            <div class="list-wrapper">
                <h2>{% translate 'Zespół' %}</h2>
                <ul class="navigation-list team-list">

                    {% for team_member in team_members_list %}
                        <li>
                            <a href="{% url 'advisory_services:team' content.pk content.slug %}">
                                {% if team_member.academic_title %}
                                    {{ team_member.academic_title }}
                                {% endif %}

                                {{ team_member.name }} <br />
                                {{ team_member.title }}

                            </a>
                            {% if team_member.specializations.all %}
                                <div class="tag-items">
                                    {% for specialization in team_member.specializations.all %}
                                        <span class="tag-item">
                                            <strong>
                                                {{ specialization.name }}
                                            </strong>
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
        {% endif %}
    {% endblock team %}

{% endblock content %}

{% block events-navigation-list %}
    {% if events_list %}
        <div class="list-wrapper">
            {% if is_mobile %}
                <h2><a href="#EventsList" data-type="toggle">
                    <div class="icon-open">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    {% translate 'Wydarzenia' %}</a></h2>
            {% else %}
                <h2>{% translate 'Wydarzenia' %}</h2>
            {% endif %}
            <ul class="navigation-list {% if is_mobile %} hide {% endif %}" id="EventsList">
                {% for event in events_list %}
                    <li>
                        <a href="{% url 'advisory_services:event' content.pk content.slug event.pk event.slug %}">{{ event.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock events-navigation-list %}

{% block events-content %}
    {% if events_list and events_list.0 %}
        <img src="{{ events_list.0.photo_desktop.url }}" alt="{{ events_list.0.title }}" title="{{ events_list.0.title }}">
        <div>
            <a href="{% url 'advisory_services:event' content.pk content.slug events_list.0.pk events_list.0.slug %}">
                <h2>
                    {{ events_list.0.title }}
                     <span class="more">{% translate 'Więcej >>' %}</span>
                </h2>
            </a>
        </div>
    {% endif %}
{% endblock events-content %}
