{% extends './_base.html' %}
{% load static %}
{% load i18n %}

{% block banner_header %}
    <div><a href="{% url 'advisory_services:department' department.pk department.slug %}">{{ department.name }}</a></div>
{% endblock banner_header %}


{% block content-navigation-list %}
    {% if content_navigation_list %}
        <div class="list-wrapper">
            {% if is_mobile %}
                <h2>
                    <a href="#EventsList" data-type="toggle">
                        <div class="icon-open">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        {% translate 'Wydarzenia' %}
                    </a>
                </h2>
            {% else %}
                <h2>{% translate 'Wydarzenia' %}</h2>
            {% endif %}
            <ul class="navigation-list {% if is_mobile %} hide {% endif %}" id="EventsList">
                {% for list_item in content_navigation_list %}
                    <li class="{% if content.pk == list_item.pk %} active {% endif %}">
                        <a href="{% url 'advisory_services:event' department.pk department.slug list_item.pk list_item.slug %}">{{ list_item.title }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url 'advisory_services:department' department.pk department.slug %}" class="back-to">{% translate 'Home' %}
                        <div class="arrow">
                            <span class="arrow-shaft"></span>
                            <span class="arrow-point"></span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.zefir.com.pl/" class="back-to">{% translate 'Zefir' %}
                        <div class="arrow">
                            <span class="arrow-shaft"></span>
                            <span class="arrow-point"></span>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    {% endif %}
{% endblock content-navigation-list %}

{% block content %}

    <h1> {{ content.title }} </h1>

    <div>{{ content.content | safe | linebreaks }}</div>

    {% if content.tags.all %}
         <div class="tag-items">
            {% for tag in content.tags.all %}
                <span class="tag-item">
                    <strong>
                        {{ tag.name }}
                    </strong>
                </span>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}
