{% extends './_base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{ department.name }} {% endblock title %}

{% block banner_header %}
    <h1><a href="{% url 'advisory_services:department' department.pk department.slug %}">{{ department.name }}</a></h1>
{% endblock banner_header %}

{% block banner %}
    {% if is_mobile %}
        <img src="{% static 'advisory_services/images/team_desktop.jpg' %}" alt="{{ department.name }}" title="{{ department.name }}">
    {% else %}
        <img src="{% static 'advisory_services/images/team_mobile.jpg' %}" alt="{{ department.name }}" title="{{ department.name }}">
    {% endif %}
{% endblock banner %}

{% block content-navigation-list %}
    {% if content_navigation_list %}
    <div class="list-wrapper">

        {% if is_mobile %}
            <h2>
                <a href="#TeamList" data-type="toggle">
                    <div class="icon-open">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    {% translate 'Zespół' %}
                </a>
            </h2>
        {% else %}
        <h2>{% translate 'Zespół' %}</h2>
        {% endif %}
        <ul class="navigation-list {% if is_mobile %} hide {% endif %}" id="TeamList">
            {% for list_item in content_navigation_list %}
                <li>
                    <a href="#{{ list_item.html_id }}">{{ list_item.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="#" class="back-to">{% translate 'Home' %}
                    <div class="arrow">
                        <span class="arrow-shaft"></span>
                        <span class="arrow-point"></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="back-to">{% translate 'Zefir' %}
                    <div class="arrow">
                        <span class="arrow-shaft"></span>
                        <span class="arrow-point"></span>
                    </div>
                </a>
            </li>
        </ul>

    </div>
    {% endif %}
{% endblock content-navigation-list %}

{% block content %}
    {% for list_item in content_navigation_list %}
        <div class="team-item" id="{{ list_item.html_id }}">
            <div class="team-item-img-holder">
                {% if is_mobile %}
                    <img src="{{ list_item.photo_mobile.url }}" alt="{{ list_item.name }}" title="{{ list_item.name }}">
                {% else %}
                    <img src="{{ list_item.photo_desktop.url }}" alt="{{ list_item.name }}" title="{{ list_item.name }}">
                {% endif %}
            </div>
            <div class="team-item-content-holder">
                <h2>
                    {% if list_item.academic_title %}
                        {{ list_item.academic_title }}
                    {% endif %}
                    {{ list_item.name }} <br />
                    {{ list_item.title }}
                </h2>
                 <div>{{ list_item.content | safe | linebreaks }}</div>
                {% if list_item.specializations.all %}
                    <div class="tag-items">
                        {% for specialization in list_item.specializations.all %}
                            <span class="tag-item">
                                <strong>
                                    {{ specialization.name }}
                                </strong>
                            </span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}